@using BankingApp.Core.Application.DTOs.Account
@using BankingApp.Core.Application.ViewModels.User;
@model List<UserViewModel>;

@{
    ViewData["Title"] = "Manage Users";
    AuthenticationResponse user = ViewBag.User;
}

<div>
    <div class="d-flex justify-content-between mb-1">
        <h1 class="h2 mb-3">@ViewData["Title"]</h1>

        <div>
            <a asp-controller="Admin" asp-action="Create" class="btn btn-success">Add new user</a>
        </div>
    </div>

    <div class="">
        @* @if (Model.HasError)
        {
            <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
                <p class="mb-0">@Model.Error</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        } *@
        @if (Model.Count == 0 || Model == null)
        {
            <h3 class="text-center">There are not any user</h3>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th class="text-center col-1">Role</th>
                        <th class="text-center col-1">Status</th>
                        <th class="text-center col-2">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (UserViewModel userVm in Model)
                    {
                        <tr>
                            <td>@userVm.IdentificationNumber</td>
                            <td>@userVm.Name</td>
                            <td>@userVm.LastName</td>
                            <td>@userVm.Username</td>
                            <td class="text-center">
                                @if (userVm.Role == "Admin")
                                {
                                    <div class="badge text-bg-light-info text-info">@userVm.Role</div>
                                }
                                else
                                {
                                    <div class="badge text-bg-light-secondary text-secondary">@userVm.Role</div>

                                }
                            </td>
                            <td class="text-center">
                                @if (userVm.IsActive)
                                {
                                    <div class="badge text-bg-success">Active</div>
                                }
                                else
                                {
                                    <div class="badge text-bg-danger">Unactive</div>
                                }
                            </td>
                            <td class="text-center">
                                @if (userVm.Id != user.Id)
                                {
                                    <a asp-controller="Admin" asp-action="Edit" class="btn btn-warning" asp-route-id="@userVm.Id">
                                        <i class="ti ti-pencil"></i>
                                    </a>

                                    <a class="btn btn-@(userVm.IsActive ? "danger" : "success" )" href="#" data-bs-toggle="modal" data-bs-target="#modal-update-user-status-@userVm.Username" title="@(userVm.IsActive ? " Unactive" : "Active")">
                                        <i class="ti ti-user-@(userVm.IsActive ? "x" : "plus")"></i>
                                    </a>

                                    <!-- Modal Update-User-Status -->
                                    <div class="modal fade" id="modal-update-user-status-@userVm.Username" tabindex="-1" aria-labelledby="modal-update-user-status-@userVm.Username-label" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <h5 class="modal-title">@(userVm.IsActive ? "Unactive" : "Active") User: @userVm.Username</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>

                                                <form method="post" asp-controller="Admin" asp-action="UpdateUserStatus" asp-route-username="@userVm.Username">
                                                    <div class="modal-body">

                                                        @* <input type="hidden" name="username" value="@userVm.Id" /> *@

                                                        <div class="mb-3 text-start">
                                                            <p class="text-center">Are you sure you want to <span class="fw-bolder">@(userVm.IsActive ? "unactive" : "active")</span> this user?</p>
                                                            <p><span class="fw-bolder">Id: </span>@userVm.IdentificationNumber</p>
                                                            <p><span class="fw-bolder">Name: </span>@userVm.Name</p>
                                                            <p><span class="fw-bolder">LastName: </span>@userVm.LastName</p>
                                                            <p><span class="fw-bolder">Username: </span>@userVm.Username</p>
                                                            <p><span class="fw-bolder">Role: </span>@userVm.Role</p>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">No</button>
                                                        <button type="submit" class="btn btn-secondary">Yes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    @* if (userVm.IsActive)
                                    {
                                        <a class="btn btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#modal-unactive-user" title="Active">
                                            <i class="ti ti-user-x"></i>
                                        </a>

                                        <!-- Modal Active-User -->
                                        <div class="modal fade" id="modal-unactive-user" tabindex="-1" aria-labelledby="modal-unactive-user-label" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Unactive User: @userVm.Username</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>

                                                    <form method="post" asp-controller="Admin" asp-action="Unactive" asp-route-userId="@userVm.Id">
                                                        <div class="modal-body">

                                                            <input type="hidden" name="UserId" value="@userVm.Id" />
                                                            <div class="mb-3 text-start">
                                                                <p class="text-center">Are you sure you want to unactive this user?</p>
                                                                <p><span class="fw-bolder">Id: </span>@userVm.IdentificationNumber</p>
                                                                <p><span class="fw-bolder">Name: </span>@userVm.Name</p>
                                                                <p><span class="fw-bolder">LastName: </span>@userVm.LastName</p>
                                                                <p><span class="fw-bolder">Username: </span>@userVm.Username</p>
                                                                <p><span class="fw-bolder">Role: </span>@userVm.Role</p>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-secondary">Active</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success" href="#" data-bs-toggle="modal" data-bs-target="#modal-active-user" title="Unactive">
                                            <i class="ti ti-user-plus"></i>
                                        </a>

                                        <!-- Modal Unactive-User -->
                                        <div class="modal fade" id="modal-active-user" tabindex="-1" aria-labelledby="modal-active-user-label" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Active User: @userVm.Username</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>

                                                    <form method="post" asp-controller="Admin" asp-action="Active" asp-route-userId="@userVm.Id">
                                                        <div class="modal-body">

                                                            <input type="hidden" name="UserId" value="@userVm.Id" />
                                                            <div class="mb-3 text-start">
                                                                <p class="text-center">Are you sure you want to unactive this user?</p>
                                                                <p><span class="fw-bolder">Id: </span>@userVm.IdentificationNumber</p>
                                                                <p><span class="fw-bolder">Name: </span>@userVm.Name</p>
                                                                <p><span class="fw-bolder">LastName: </span>@userVm.LastName</p>
                                                                <p><span class="fw-bolder">Username: </span>@userVm.Username</p>
                                                                <p><span class="fw-bolder">Role: </span>@userVm.Role</p>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer text-center">
                                                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                                                            <button type="submit" class="btn btn-secondary">Active</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    } *@
                                    
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>
</div>

